/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  padding: 1;
  background-image: url(bizhi.bcc84322.jpg);
}
ul,
lu {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* stlye */
body {
  background-color: #eee;
}
.globalHeader {
  margin: 20px;
  position: relative;
}

@media (min-width: 500px) {
  .globalHeader {
    margin: 60px 0 100px 0;
  }
  .searchForm {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.globalMain {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.searchForm {
  display: flex;
  justify-content: space-between;
}
.searchForm > input {
  width: 100%;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.searchForm > button {
  white-space: nowrap;
  padding: 0 28px;
  border: none;
  border-radius: 4px;
  background-color: #4990ee;
  color: white;
  font-size: 16px;
}
.globalMain {
}

@media (min-width: 500px) {
  .siteList {
    margin-left: 0;
    margin-right: -25px;
  }
}
.siteList {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.siteList > li {
  margin: 0 3px;
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  .siteList > li {
    margin-right: 10px;
  }
}
.siteList .site {
  background-color: white;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
.siteList .site > .link {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .site:hover > .close {
  display: block;
}
.siteList .site > .close {
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
  cursor: default;
}
.siteList .addButton {
  background-color: white;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  flex-direction: column;
  padding: 10px 0;
}
.siteList .addButton .text {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton .icon {
  width: 56px;
  height: 56px;
}
.siteList .addButton .icon-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
}

/* 跨域请求百度搜索 */

.search-wrap {
  text-align: center;
}
.list-wrap {
  background: white;
  width: 400px;
  position: absolute;
  left: 50%;
  z-index: 20;
  opacity: 0.9;
  line-height: 32px;
  padding: 0 8px;
  transform: translateX(-50%);
}
.list-wrap {
color:#626675;
border-radius: 2px 2px 20px 20px;
}

.list-wrap li:hover{
  color:#315efb;
}
@media screen and (max-width: 500px) {
  .list-wrap{
    width: 375px;
  }
  .siteList .site > .close {
    display: block;
  }
}

.wd-list li {
  text-align: left;
  border: 1px solid #eff;
  padding: 0 10px;
}
.wd-list li:hover{
}
.wd-list:hover{
  display: block!important;
}


/*# sourceMappingURL=style.4bf68d50.css.map */